.change-password {
  width: 100%;
  text-align: center;
  .password-card {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 1rem;
    border: 2px solid red;
    min-width: 156px;
  }
}
